/* Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; /* For debugging */
}

section, 
article, 
aside, 
footer, 
header, 
nav {
    display: block;
}

/* Header */

/* Main */
    /* Calendar */
    .calendar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .calendar-container h1 {
        align-self: flex-start;
        padding: 28px 52px;
    }

/* Footer */