/* Color Codes */
:root {
    --black: #231f20;
    --white: #f6f6f6;
    --silver: #d1d3d3;
    --blue: #7daed3;
    --dark-blue: #577A94;
}

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section, 
article, 
aside, 
footer, 
header, 
nav {
    display: block;
}

/* Header */
    header nav {
        background-color: var(--blue);
    }

    .logo {
        width: 3rem;
    }

    .hero-index,
    .hero-page {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/group_photo.svg");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 3rem;
        width: 100%;
        color: var(--white);
    }

    .hero-index {
        background-size: cover;
        background-position: center;

        padding-top: 16rem;
        padding-bottom: 16rem;
        letter-spacing: 0.1rem;
    }

    .hero-index strong {
        font-size: 1.5rem;
    }

    .hero-page {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

/* main */
    .calendar-container,
    .game-container,
    .about-container {
        background-color: var(--white);
    }

    .game-container,
    .about-container {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .game-link {
        text-decoration: none;
        color: var(--black);
    }

    .feed-container {   
        background-color: var(--blue);
        padding: 4rem;
    }

    .feed {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        color: var(--white);
    }

    .feed hr {
        color: var(--dark-blue);
        width: 100%;
    }

    .content-container {
        background-color: var(--white);
        padding: 4rem;
    }

    .showcase-img {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .topic-container {
        background-color: var(--silver);
        padding: 4rem;
    }

    .card-body {
        text-align: center;
    }

    .about-container .card {
        background-color: var(--blue);
        color: var(--white);
    }

    .about-container .card-img-top {
        height: 15rem;
        object-fit: cover;
    }

    .event-container {
        background-color: var(--white);
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .calendar {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .harleyDrawing {
        width: 32%;
        height: 32%;
        display: inline-block;
        margin: 5px;
    }

/* Footer */
    footer {
        background-color: var(--blue);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer hr {
        width: 80%;
    }

    .social-icons {
        padding-top: 4rem;
        padding-top: 2rem;
        width: 80%;
        display: flex;
        justify-content: space-around;
    }

    footer a, footer p {
        color: var(--white);
    }

    footer hr {
        color: var(--dark-blue);
    }

    .gmailLink {
        text-align: center;
        margin-top: 10px;
        display: block;
        letter-spacing: 0.2rem;
    }

    .copyRight {
        text-align: center;
        margin-top: 10px;
        display: block;
    }